BODY {
background: #ffdac9;
color: #614639;
}

DIV.note{
font: 110% fantasy;
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
padding-left: 5px;
margin-left: 5px;
}

DIV.h1 {
text-align: center;
font: 175% fantasy;
}